* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  outline: none;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(180deg, #645CBB, #A084DC, #BFACE2);
}

  
  .resume {
    display: flex;
    padding: 10px 0;
    gap: 40px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .resume > div {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    text-align: center;
  }
  
  .incomes {
    text-align: center;
    background-color: #00d13f;
    padding: 10px;
    color: white;
  }
  
  .expenses {
    text-align: center;
    background-color: #df3c13;
    padding: 10px;
    color: white;
  }
  
  .total {
    text-align: center;
    background-color: #0051ff;
    padding: 10px;
    color: white;
  }
  
  .resume > div {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #000000;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    background-color: #AD7BE9;
  }
  
  .newItem {
    display: flex;
    gap: 10px;
    align-items: end;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .divDesc, .divType, .divAmount , .divQuantity , .divPayment {
    display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
  
  .divQuantity label {
    margin-bottom: -1px;
  }
  

  .newItem > button {
    background-color: #654E92;
    color: white;
    border: none;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
    height: 34px;
  }
  
  input, select {
    padding: 5px;
  }
  
  .divTable {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  table {
    width: 98%;
    padding: 20px 0;
    border-radius: 5px;
  }
  
  th {
    text-align: start;
    border-bottom: inset;
    padding-bottom: 5px;
  }
  
  i {
    font-size: 25px;
  }
  
  .bxs-chevron-up-circle {
    color: #00ff88;
  }
  
  .bxs-chevron-down-circle {
    color: #fa1500;
  }
  
  .columnAction {
    width: 40px;
    text-align: center;
  }
  
  .columnAction > button {
    background: transparent;
    border: none;
  }
  
  .columnAmount {
    width: 30%;
  }
  
  .columnType {
    width: 80px;
    text-align: center;
  }